@charset "UTF-8";
#selected {
	color:#89379a;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 2px;
	border: 3px;
	border-style:solid;
	width: 100px;
	height: 35px;
	text-align: center;
}
.uo_tuihuo{
	border:0px;
	font-size:13px;
	margin-rigth:5px;
	color:blue;
}
p:hover{
	color:#89379a;
}