body{
		margin:0;
		padding:0;
		background:url("../images/car0.jpg") no-repeat;
		background-size:100%;
		background-size:cover;
		-webkit-background-size:cover;
		-moz-background-size:cover;
	}
html{
	height: 100%;
	box-shadow:0px 0px 300px #000 inset;
	-webkit-box-shadow:0px 0px 50px #000 inset;
}
form{
	position:absolute;
	left:50%;
	top:30%;
	margin-left:-300px;
	margin-top:-220px;
	width:480px;
	height:650px;
	background:url("../images/b.png") no-repeat;
	background-size:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	border-radius:25px;
	color:#fff;
	text-align:center;
	padding:65px;
	/*box-shadow: 0px 0px 15px #0005;*/
}
ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
}
form p{
	color:red;
	margin-left:240px;
}
form a{
	text-decoration: none;
}
h1{
	color:#fff;
}
.input_1{
	outline:none;
	margin-top:10px;
	border:0;
	width:300px;
	height:50px;
	border-radius:15px;
	padding-left:15px;
	font-size:18px;
	color:#999;
}
.input_2{
	margin:20px 0px;
	border:0;
	background:#fff;
}
.input_3{
	outline: none;
	width:80px;
	height:40px;
	border:0;
	padding:5px 7px;
	background:#fff;
	border-radius:20px;
	margin:20px 10px;
}
.radio_box {
	display: inline-block;
	text-align:center ;
	margin: 20px 30px;
}


.radio_box input:checked+label:after {
	content: '';
	width: 9px;
	height: 9px;
	position: absolute;
	top: 3px;
	left: 3px;
	background: #3A5367;
	border-radius: 50%;
}

.check_box em {
	margin: 0 0 0 5px;
}